In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd

In [3]:
dd = pd.read_csv("Delhi+Delights+Data.csv")
dd.head()

,Average Delivery Rating (a1),Average Orders per month (a2),"""Delighted Members"" Purchase"
0,1.5,11,Yes
1,2.5,11,No
2,2.5,11,No
3,3.5,11,No
4,3.5,11,No

In [7]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [5]:
dt = DecisionTreeRegressor(random_state=42, max_depth=5, min_samples_leaf=5, min_samples_split=10, criterion="Gini")

In [8]:
np.random.seed(0)
df_train, df_test = train_test_split(dd, train_size=0.7, random_state=100)

In [9]:
df_train.shape, df_test.shape

((21, 3), (9, 3))

In [10]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [11]:
df_test.head()

,Average Delivery Rating (a1),Average Orders per month (a2),"""Delighted Members"" Purchase"
9,3.5,13,No
26,2.5,39,Yes
28,4.5,39,Yes
13,2.5,15,No
5,4.5,11,Yes

In [13]:
df_test.columns

Index(['Average Delivery Rating (a1)', 'Average Orders per month (a2)',
       '"Delighted Members" Purchase'],
      dtype='object')

In [14]:
df_train['"Delighted Members" Purchase'] = scaler.fit_transform(df_train[['"Delighted Members" Purchase']])
df_test['"Delighted Members" Purchase'] = scaler.transform(df_test[['"Delighted Members" Purchase']])

ValueError: could not convert string to float: 'Yes'